apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: {{ .Chart.Name }}
  name: {{ .Chart.Name }}
  namespace: kube-system
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        k8s-app: {{ .Chart.Name }}
    spec:
      priorityClassName: system-cluster-critical
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: Exists
      containers:
      - name: {{ .Chart.Name }}
        image: "spotinst/kubernetes-cluster-controller:{{ .Chart.AppVersion }}"
        imagePullPolicy: Always
        volumeMounts:
        - name: {{ .Chart.Name }}
          mountPath: /certs
        livenessProbe:
          httpGet:
            path: /healthcheck
            port: 4401
          initialDelaySeconds: 300
          periodSeconds: 20
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
        env:
        - name: SPOTINST_TOKEN
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: token
        - name: SPOTINST_ACCOUNT
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: account
        - name: CLUSTER_IDENTIFIER
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: cluster-identifier
        - name: BASE_SPOTINST_URL
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: base-url
              optional: true
        - name: PROXY_URL
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: proxy-url
              optional: true
        - name: DISABLE_AUTO_UPDATE
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}
              key: disable-auto-update
              optional: true
        - name: POD_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - name: {{ .Chart.Name }}
        secret:
          secretName: {{ .Chart.Name }}
      serviceAccountName: {{ .Chart.Name }}
      tolerations:
      - key: node.kubernetes.io/not-ready
        effect: NoExecute
        operator: Exists
        tolerationSeconds: 150
      - key: node.kubernetes.io/unreachable
        effect: NoExecute
        operator: Exists
        tolerationSeconds: 150
      - key: node-role.kubernetes.io/master
        operator: Exists
