apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: {{ .Chart.Name }}
  name: {{ .Chart.Name }}
  namespace: {{ required "namespace is missing" .Values.namespace }}
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        k8s-app: {{ .Chart.Name }}
    spec:
      {{- if eq .Values.namespace "kube-system" }}
      priorityClassName: system-cluster-critical
      {{- else }}
      priorityClassName: spotinst-cluster-critical
      {{- end }}
      affinity: {{- toYaml .Values.affinity | nindent 8 }}
      containers:
      - name: {{ .Chart.Name }}
        image: {{ .Values.image.repository }}:{{ .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if .Values.image.pullSecrets }}
        imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | indent 8 }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthcheck
            port: 4401
          initialDelaySeconds: 300
          periodSeconds: 20
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthcheck
            port: 4401
          initialDelaySeconds: 20
          periodSeconds: 20
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
        env:
        - name: SPOTINST_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}
              key: token
              optional: true
        - name: SPOTINST_ACCOUNT
          valueFrom:
            secretKeyRef:
              name: {{ .Chart.Name }}
              key: account
              optional: true
        - name: SPOTINST_TOKEN_LEGACY
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: spotinst.token
              optional: true
        - name: SPOTINST_ACCOUNT_LEGACY
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: spotinst.account
              optional: true
        - name: CLUSTER_IDENTIFIER
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: spotinst.cluster-identifier
        - name: BASE_SPOTINST_URL
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: base-url
              optional: true
        - name: PROXY_URL
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: proxy-url
              optional: true
        - name: DISABLE_AUTO_UPDATE
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: disable-auto-update
              optional: true
        - name: ENABLE_CSR_APPROVAL
          valueFrom:
            configMapKeyRef:
              name: {{ .Chart.Name }}-config
              key: enable-csr-approval
              optional: true
        - name: POD_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources: {{- toYaml .Values.resources | nindent 10 }}
      serviceAccountName: {{ .Chart.Name }}
      dnsPolicy: {{ .Values.dnsPolicy }}
      {{- if .Values.dnsConfig }}
      dnsConfig: {{ toYaml .Values.dnsConfig | nindent 8 }}
      {{- end }}
      tolerations: {{- toYaml .Values.tolerations | nindent 6 }}
